In [137]:
import numpy as np
import pandas as pd

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [144]:
data =pd.read_csv('/content/drive/MyDrive/Data Analytics/week-3/Data-cleaning-for-beginners-using-pandas.csv')

In [145]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Index        29 non-null     int64
 1   Age          22 non-null     float64
 2   Salary       29 non-null     object
 3   Rating       28 non-null     float64
 4   Location     29 non-null     object
 5   Established  29 non-null     int64
 6   Easy Apply   29 non-null     object
dtypes: float64(2), int64(2), object(3)
memory usage: 1.7+ KB

In [150]:
data.head()

,Index,Age,Start_Salary,End_Salary,Rating,Location,Established,Easy Apply
0,0,44.0,44000,99000,5.4,India,1999,TRUE
1,1,66.0,55000,66000,3.5,New York,2002,TRUE
2,2,39.0,77000,89000,0.0,New York,NA,FALSE
3,3,64.0,44000,99000,4.4,India,1988,FALSE
4,4,25.0,44000,99000,6.4,Australia,2002,FALSE

In [147]:
def data_cleanning():
    #dealling with null values of Age column, by replacing all null values with mean of the age.
    age_mean=np.mean(data['Age']).round(decimals=1)
    data['Age']=data['Age'].fillna(age_mean)

    #salary column
    data.insert(2,column='Start_Salary',value=0)
    data.insert(3,column="End_Salary",value=0)
    data['Salary']=data['Salary'].str.replace("$","")
    data['Salary']=data['Salary'].str.replace("k","000")

    index=0
    for i in data['Salary']:
        j=i.split('-')
        data['Start_Salary'][index]=int(j[0])
        data['End_Salary'][index]=int(j[1])
        index+=1
    data.pop('Salary')

    #Rating column
    index1=0
    for i in data['Rating']:
        if(i<0):
            data['Rating'][index1]=0
        # print(i)
        index1+=1
    #filling null value with zero
    data['Rating'] = data['Rating'].fillna(0)

    #Country column
    data['Location'] = data['Location'].str.replace(","," ")
    index=0
    for i in data['Location']:
        remove = i.split()[-1]
        data['Location'][index] = data['Location'][index].rstrip(remove)
        index+=1

    #Established
    data['Established'] = data['Established'].replace(-1,"NA")

    #Easy Apply
    data['Easy Apply'] = data['Easy Apply'].str.replace("-1","FALSE")

data_cleanning()

<ipython-input-147-9d46e61c6aa3>:9: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  data['Salary']=data['Salary'].str.replace("$","")
<ipython-input-147-9d46e61c6aa3>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Start_Salary'][index]=int(j[0])
<ipython-input-147-9d46e61c6aa3>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['End_Salary'][index]=int(j[1])
<ipython-input-147-9d46e61c6aa3>:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Rating'][index1]=0
<ipython-input-147-9d46e61c6aa3>:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Location'][index] = data['Location'][index].rstrip(remove)

In [149]:
data

,Index,Age,Start_Salary,End_Salary,Rating,Location,Established,Easy Apply
0,0,44.0,44000,99000,5.4,India,1999,TRUE
1,1,66.0,55000,66000,3.5,New York,2002,TRUE
2,2,39.0,77000,89000,0.0,New York,NA,FALSE
3,3,64.0,44000,99000,4.4,India,1988,FALSE
4,4,25.0,44000,99000,6.4,Australia,2002,FALSE
5,5,44.0,77000,89000,1.4,India,1999,TRUE
6,6,21.0,44000,99000,0.0,New York,NA,FALSE
7,7,44.0,44000,99000,0.0,Australia,NA,FALSE
8,8,35.0,44000,99000,5.4,New York,NA,FALSE
9,9,22.0,44000,99000,7.7,India,NA,TRUE
10,10,55.0,10000,49000,5.4,India,2008,TRUE
11,11,44.0,10000,49000,6.7,India,2009,FALSE
12,12,39.0,44000,99000,0.0,India,1999,FALSE
13,13,25.0,44000,99000,0.0,Australia,2019,TRUE
14,14,66.0,44000,99000,4.0,Australia,2020,TRUE
15,15,44.0,88000,101000,3.0,Australia,1999,FALSE
16,16,19.0,19000,40000,4.5,India,1984,FALSE
17,17,39.0,44000,99000,5.3,New York,1943,TRUE
18,18,35.0,44000,99000,6.7,New York,1954,TRUE
19,19,32.0,44000,99000,3.3,New York,1955,TRUE
20,20,39.0,44000,99000,5.7,New York,1944,TRUE
21,21,35.0,44000,99000,5.0,New York,1946,FALSE
22,22,19.0,55000,66000,7.8,New York,1988,TRUE
23,23,39.0,44000,99000,2.4,New York,1999,TRUE
24,24,13.0,44000,99000,0.0,New York,1987,FALSE
25,25,55.0,44000,99000,0.0,Australia,1980,TRUE
26,26,39.0,55000,66000,0.0,India,1934,TRUE
27,27,52.0,44000,99000,5.4,India,1935,FALSE
28,28,39.0,39000,88000,3.4,Australia,1932,FALSE